In [2]:
'''librerias a usar'''
import pandas as pd

In [3]:
'''Importacion del data set'''
data = pd.read_csv('data_act_01.csv', sep=';')
data.sample(3)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
6546,160943460,Well Being Check,2016-04-03T00:00:00,21:37,2016-04-03T21:37:00,NOM,200 Block Of Golden Gate Av,San Francisco,CA,1,NaN,Premise Address
2744,160930754,Trespasser,2016-04-02T00:00:00,7:54,2016-04-02T07:54:00,CAN,1300 Block Of Utah St,San Francisco,CA,1,NaN,Premise Address
4602,160940049,Noise Nuisance,2016-04-03T00:00:00,0:15,2016-04-03T00:15:00,CAN,500 Block Of Minna St,San Francisco,CA,1,NaN,Premise Address

In [4]:
'''Informaci√≥n Global de los datos'''
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB