In [2]:
'''librerias a usar'''
import pandas as pd

In [3]:
'''Importacion del data set'''
data = pd.read_csv('data_act_01.csv', sep=';')
data.sample(3)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
6546,160943460,Well Being Check,2016-04-03T00:00:00,21:37,2016-04-03T21:37:00,NOM,200 Block Of Golden Gate Av,San Francisco,CA,1,NaN,Premise Address
2744,160930754,Trespasser,2016-04-02T00:00:00,7:54,2016-04-02T07:54:00,CAN,1300 Block Of Utah St,San Francisco,CA,1,NaN,Premise Address
4602,160940049,Noise Nuisance,2016-04-03T00:00:00,0:15,2016-04-03T00:15:00,CAN,500 Block Of Minna St,San Francisco,CA,1,NaN,Premise Address

In [4]:
'''Información Global de los datos'''
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB

# DATOS NULL

In [5]:
'''Conteo general de datos null'''
data.isnull().sum()

CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

In [6]:
'''El determinar que la columna Range posee 10051 datos null y la muestra es de 10051 datos, se procede a eliminarla toda'''
data = data.drop(['Range'], axis=1)
data.sample(3)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
5870,160942296,Muni Inspection,2016-04-03T00:00:00,15:24,2016-04-03T15:24:00,HAN,King St & 2nd St Muni Light Rail Platfor,NaN,CA,1,Geo-Override
7545,160951360,Dog Bite,2016-04-04T00:00:00,11:05,2016-04-04T11:05:00,HAN,300 Block Of Martin Luther King Dr,San Francisco,CA,1,Common Location
56,160913910,Rep,2016-03-31T00:00:00,23:21,2016-03-31T23:21:00,HAN,1600 Block Of Sacramento St,San Francisco,CA,1,Premise Address

In [7]:
'''Trabajar solo con datos que no contengan NULL'''
data = data.dropna()
data.sample(3)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
4693,160940206,Assault / Battery,2016-04-03T00:00:00,1:11,2016-04-03T01:11:00,UTL,Sutter St/larkin St,San Francisco,CA,1,Intersection
4709,160940232,Party,2016-04-03T00:00:00,1:20,2016-04-03T01:20:00,HAN,400 Block Of 24th Av,San Francisco,CA,1,Premise Address
725,160921101,Silent Holdup Alarm,2016-04-01T00:00:00,10:00,2016-04-01T10:00:00,NCR,400 Block Of Arguello Bl,San Francisco,CA,1,Premise Address

In [8]:
'''Comprobación que no existen null'''
data.isnull().sum()

CrimeId                  0
OriginalCrimeTypeName    0
OffenseDate              0
CallTime                 0
CallDateTime             0
Disposition              0
Address                  0
City                     0
State                    0
AgencyId                 0
AddressType              0
dtype: int64

# DATOS DUPLICADOS

In [9]:
'''Determinar en la sección CrimeId, si existen duplicados, dado que es un Id unico, no debería'''
aux = data['CrimeId']
saux = pd.Series(aux)
saux.value_counts()

160950496    3
160913455    3
160943709    1
160943698    1
160943699    1
            ..
160931810    1
160931811    1
160931812    1
160931813    1
160964249    1
Name: CrimeId, Length: 9725, dtype: int64

In [10]:
'''Al comprobar que si existen registro duplicados, se eliminan.'''
data['CrimeId'].duplicated().sum()
data.drop_duplicates(inplace=True)
data.sample(3)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
3840,160932703,Traffic Stop,2016-04-02T00:00:00,17:30,2016-04-02T17:30:00,ADV,Cesar Chavez St/south Van Ness Av,San Francisco,CA,1,Intersection
10023,160964120,Muni Inspection,2016-04-05T00:00:00,23:03,2016-04-05T23:03:00,HAN,Carl St/cole St,San Francisco,CA,1,Intersection
3248,160931652,Wanted Vehicle / Sub,2016-04-02T00:00:00,12:38,2016-04-02T12:38:00,HAN,500 Block Of Banks St,San Francisco,CA,1,Premise Address

# Datos redundante

In [11]:
'''Al determinar que existen 2 columnas que muestran información sobre fecha y hora; se determina mantener "CallDateTime"'''
data = data.drop(['OffenseDate'], axis=1)
data = data.drop(['CallTime'], axis=1)
data.sample(3)

,CrimeId,OriginalCrimeTypeName,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
7043,160950490,Homeless Complaint,2016-04-04T06:48:00,ADV,500 Block Of Turk St,San Francisco,CA,1,Premise Address
1380,160922436,Dancer,2016-04-01T16:17:00,UTL,23rd St/mission St,San Francisco,CA,1,Intersection
6886,160950201,Passing Call,2016-04-04T02:33:00,Not recorded,20th St/capp St,San Francisco,CA,1,Intersection